<%= form_with(model: test_case) do |form| %>
  <% if test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
        <% test_case.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :automationStatus %>
    <%= form.text_field :automationStatus %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
