<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @test_case.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test_case.description %>
</p>

<p>
  <strong>Automationstatus:</strong>
  <%= @test_case.automationStatus %>
</p>

<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
